@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme {
  .white-theme {
    @apply bg-white text-black;
  }

  .dark-theme {
    @apply bg-dark-mode-background text-white;
  }

  .cerise-theme {
    /* @apply bg-cerise text-white; */
  }
}

@layer components {
  .button {
    @apply bg-cerise-700 text-white select-none;
    @apply block w-fit py-2 px-3 rounded;
    @apply font-semibold text-center;

    @apply transition-all duration-300 cursor-pointer;
    @apply hover:opacity-50;
    @apply disabled:opacity-50 disabled:cursor-not-allowed;
  }
}

@layer fonts {
  .font-monoton {
    font-family: 'Monoton', cursive;
  }

  .font-sacramento {
    font-family: 'Sacramento', cursive;
  }

  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .font-oleo-script {
    font-family: 'Oleo Script', cursive;
  }
}

@layer effects {
  .flicker-slightly {
    animation: flicker-slightly 5s infinite alternate;
  }
  @keyframes flicker-slightly {
    44% {
      opacity: 1;
    }
    45% {
      opacity: 0.7;
    }
    46% {
      opacity: 1;
    }
    98% {
      opacity: 1;
    }
    99% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .flicker-once {
    opacity: 0.5;
    animation: flicker 1.5s 1 forwards;
  }
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    13% {
      opacity: 0.3;
    }
    23% {
      opacity: 0.8;
    }
    30% {
      opacity: 0.3;
    }
    38% {
      opacity: 0.9;
    }
    45% {
      opacity: 0.7;
    }
    53% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}
