@use '@sass/utilities' as util

$color-1: #C2146D
$color-2: #760D50
$color-3: #4D0E45
$color-4: #320C3B
$color-5: #280C3D
$color-6: #1E0D37

.square
  &::after
    background: $color-1
    box-shadow: $color-2 0 0 util.pxToRem(5) util.pxToRem(30), $color-3 0 0 util.pxToRem(10) util.pxToRem(60), $color-4 0 0 util.pxToRem(15) util.pxToRem(90), $color-5 0 0 util.pxToRem(20) util.pxToRem(120), $color-6 0 0 util.pxToRem(25) util.pxToRem(150)
