@import './mixins.sass'
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap')

.sidebar
  color: white
  font-family: "Merienda", cursive
  font-optical-sizing: auto
  font-weight: 300
  font-style: normal
  transition: all 0.5s

  background: var(--color-black-pearl-07)
  @include shadow-effect-1(rgba(0, 0, 0, 0.6))

  & a
    color: rgba(255, 255, 255, 0.7)

  &-link
    transition: all 0.3s
    &:hover:not(.active)
      @include text-neon-effect-high(var(--color-red-violet))

.active
  $hover-color: var(--color-red-violet)
  background: $hover-color !important
  font-weight: bold
  letter-spacing: .2rem
  @include neon-effect(none, $hover-color)
