@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css')
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap')
@import '~bootstrap/scss/bootstrap'

html, body, #root,
section
  height: 100%
  width: 100% 
  font-family: 'Source Code Pro', monospace

*
  --color-persian-pink: #f15fd2
  --color-charade: #2a2b38
